__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

data/
runs/

*.pt
*.pth
*.ckpt
*.png

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.snm
*.synctex.gz
*.toc

.vscode/
.idea/
.DS_Store
Thumbs.db

*.tex
